// SPDX-License-Identifier: GPL-2.0-only
/*
 * Device Tree nodes common for all GS101-based Pixel
 *
 * Copyright 2021-2023 Google LLC
 * Copyright 2023 Linaro Ltd - <peter.griffin@linaro.org>
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/regulator/samsung,s2mpg10-regulator.h>
#include <dt-bindings/usb/pd.h>
#include "gs101-pinctrl.h"
#include "gs101.dtsi"
#include "gs101-audio.dtsi"
#include "gs101-cp-rmem.dtsi"
#include "gs101-cp-nodes.dtsi"
#include "gs101-cp-spi.dtsi"

/ {
	aliases {
		serial0 = &serial_0;
	};

	chosen {
		/* Bootloader expects bootargs specified otherwise it crashes */
		bootargs = "";
		stdout-path = &serial_0;

		/* Use display framebuffer as setup by bootloader */
		framebuffer0: framebuffer-0 {
			compatible = "simple-framebuffer";
			memory-region = <&cont_splash_mem>;
			vci-supply = <&s2mpg10_ldo22m>;
			vddi-supply = <&s2mpg11_bucka>;
			/* format properties to be added by actual board */
			status = "disabled";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&key_voldown>, <&key_volup>, <&key_power>;
		pinctrl-names = "default";

		button-vol-down {
			label = "KEY_VOLUMEDOWN";
			linux,code = <KEY_VOLUMEDOWN>;
			gpios = <&gpa7 3 GPIO_ACTIVE_LOW>;
			wakeup-source;
		};

		button-vol-up {
			label = "KEY_VOLUMEUP";
			linux,code = <KEY_VOLUMEUP>;
			gpios = <&gpa8 1 GPIO_ACTIVE_LOW>;
			wakeup-source;
		};

		button-power {
			label = "KEY_POWER";
			linux,code = <KEY_POWER>;
			gpios = <&gpa10 1 GPIO_ACTIVE_LOW>;
			wakeup-source;
		};
	};

	reboot-mode {
		compatible = "nvmem-reboot-mode";
		nvmem-cells = <&nvmem_reboot_mode>;
		nvmem-cell-names = "reboot-mode";
		mode-bootloader = <0x800000fc>;
		mode-charge = <0x8000000a>;
		mode-dm-verity-device-corrupted = <0x80000050>;
		mode-fastboot = <0x800000fa>;
		mode-reboot-ab-update = <0x80000052>;
		mode-recovery = <0x800000ff>;
		mode-rescue = <0x800000f9>;
		mode-shutdown-thermal = <0x80000051>;
		mode-shutdown-thermal-battery = <0x80000051>;
	};

	/* TODO: Remove this once PMIC is implemented  */
	reg_placeholder: regulator-0 {
		compatible = "regulator-fixed";
		regulator-name = "placeholder_reg";
	};

	/* TODO: Remove this once S2MPG11 slave PMIC is implemented  */
	ufs_0_fixed_vcc_reg: regulator-1 {
		compatible = "regulator-fixed";
		regulator-name = "ufs-vcc";
		gpio = <&gpp0 1 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
		enable-active-high;
	};

	/*
	 * WLAN power enable (BCM4389 on PCIe HSI2). The vendor "wl_reg_on"
	 * GPIO; drive it on so the endpoint is powered before the PCIe link
	 * trains. always-on because there is no bcmdhd driver to toggle it.
	 */
	wlan_pwrseq: regulator-wlan {
		compatible = "regulator-fixed";
		regulator-name = "wlan-en";
		gpio = <&gpp14 2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
	};

	reserved-memory {
		cont_splash_mem: splash@fac00000 {
			/* size to be updated by actual board */
			reg = <0x0 0xfac00000 0x0>;
			no-map;
			status = "disabled";
		};
	};
};

&acpm_ipc {
	pmic-1 {
		compatible = "samsung,s2mpg10-pmic";
		interrupts-extended = <&gpa0 6 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int>;
		system-power-controller;
		wakeup-source;

		vinl1m-supply = <&s2mpg11_buck3s>;
		vinl2m-supply = <&s2mpg11_buck3s>;
		vinl3m-supply = <&s2mpg10_buck8m>;
		vinl4m-supply = <&s2mpg10_buck9m>;
		vinl5m-supply = <&s2mpg10_buck9m>;
		vinl6m-supply = <&s2mpg10_buck9m>;
		vinl7m-supply = <&s2mpg11_buck6s>;
		vinl8m-supply = <&s2mpg11_buck6s>;
		vinl9m-supply = <&s2mpg11_buck7s>;
		vinl10m-supply = <&s2mpg11_buck7s>;
		vinl11m-supply = <&s2mpg11_buck7s>;
		vinl12m-supply = <&s2mpg11_bucka>;
		vinl13m-supply = <&s2mpg11_bucka>;
		vinl14m-supply = <&s2mpg11_buckboost>;
		vinl15m-supply = <&s2mpg11_buckboost>;

		clocks {
			compatible = "samsung,s2mpg10-clk";
			#clock-cells = <1>;
			clock-output-names = "rtc32k_ap", "peri32k1",
					     "peri32k2";
		};

		regulators {
			buck1m {
				regulator-name = "vdd_mif";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <6250>;
				regulator-always-on;
				samsung,ext-control = <S2MPG10_EXTCTRL_PWREN_MIF>;
			};

			buck2m {
				regulator-name = "vdd_cpucl2";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12500>;
				regulator-always-on;
				samsung,ext-control = <S2MPG10_EXTCTRL_CPUCL2_EN2>;
			};

			buck3m {
				regulator-name = "vdd_cpucl1";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12500>;
				regulator-always-on;
				samsung,ext-control = <S2MPG10_EXTCTRL_CPUCL1_EN2>;
			};

			buck4m {
				regulator-name = "vdd_cpucl0";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12500>;
				regulator-always-on;
				samsung,ext-control = <S2MPG10_EXTCTRL_PWREN>;
			};

			buck5m {
				regulator-name = "vdd_int";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12500>;
				regulator-always-on;
				samsung,ext-control = <S2MPG10_EXTCTRL_PWREN_MIF>;
			};

			buck6m {
				regulator-name = "vdd_cpucl2_m";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <12500>;
				regulator-always-on;
				samsung,ext-control = <S2MPG10_EXTCTRL_CPUCL2_EN2>;
			};

			buck7m_reg: buck7m {
				/* GPU */
				regulator-name = "vdd_int_m";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <6250>;
				regulator-always-on;
				samsung,ext-control = <S2MPG10_EXTCTRL_PWREN_MIF>;
			};

			s2mpg10_buck8m: buck8m {
				regulator-name = "lldo2";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <6250>;
				// needs to be on during boot, until all consumers have
				// probed and established their links to this
				regulator-boot-on;
			};

			s2mpg10_buck9m: buck9m {
				regulator-name = "lldo3";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <6250>;
				// needs to be on during boot, until all consumers have
				// probed and established their links to this
				regulator-boot-on;
			};

			buck10m {
				regulator-name = "vdd_tpu";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12500>;
				regulator-always-on;
				samsung,ext-control = <S2MPG10_EXTCTRL_TPU_EN>;
			};

			ldo1m {
				/* ALIVE, AOC PLL */
				regulator-name = "vdd_l1m_alive";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <6250>;
				regulator-always-on;
			};

			ldo2m {
				/* lots, DDR */
				regulator-name = "vdd_l2m_alive";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
				regulator-always-on;
			};

			ldo3m {
				/* AVDD: MIPI CSI & DSI, PLL: CPUCL SHARED TPU UFS */
				regulator-name = "ldo3m";
				regulator-min-microvolt = <725000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
				samsung,ext-control = <S2MPG10_EXTCTRL_PWREN_MIF>;
			};

			ldo4m {
				/* AVDD: MIPI CSI & DSI, UFS, OTP, TS_SUB, TS_TOP, XOTP */
				regulator-name = "ldo4m";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
				regulator-always-on;
				samsung,ext-control = <S2MPG10_EXTCTRL_PWREN_MIF>;
			};

			ldo5m {
				/* VDD: ADD, AVDD: TCXO & TCXO_FAR */
				regulator-name = "avdd075_tcxo";
				regulator-min-microvolt = <725000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
				samsung,ext-control = <S2MPG10_EXTCTRL_TCXO_ON>;
			};

			ldo6m {
				/* PLL CPUCL & MIFx, UFS clk, MIPI DSI */
				regulator-name = "vdd_pll";
				regulator-min-microvolt = <725000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
				samsung,ext-control = <S2MPG10_EXTCTRL_PWREN_MIF>;
			};

			ldo7m {
				/* IO (HSI (USB)) */
				regulator-name = "vdd_hsi";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <6250>;
				/*
				 * TODO: link to HSI power domain, without this,
				 * Linux hangs during USB access.
				 */
				regulator-always-on;
			};

			ldo8m {
				regulator-name = "vdd085_usb";
				regulator-min-microvolt = <725000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
			};

			ldo9m {
				regulator-name = "vdd18_usb";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
				regulator-always-on;
			};

			ldo10m {
				regulator-name = "vdd33_usb";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3350000>;
				regulator-always-on;
			};

			ldo11m {
				regulator-name = "vdd_cpucl1_m";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <6250>;
				regulator-always-on;
				samsung,ext-control = <S2MPG10_EXTCTRL_CPUCL1_EN2>;
			};

			ldo12m {
				regulator-name = "vdd_cpucl0_m";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <6250>;
				regulator-always-on;
				samsung,ext-control = <S2MPG10_EXTCTRL_PWREN>;
			};

			ldo13m {
				regulator-name = "vdd_tpu_m";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-always-on;
				samsung,ext-control = <S2MPG10_EXTCTRL_TPU_EN>;
			};

			/* ldo14m is board specific */

			ldo15m {
				regulator-name = "vdd_slc_m";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-always-on;
			};

			ldo16m {
				regulator-name = "vdd085_pcie0";
				regulator-min-microvolt = <725000>;
				regulator-max-microvolt = <1300000>;
			};

			ldo17m {
				regulator-name = "vdd085_pcie1";
				regulator-min-microvolt = <725000>;
				regulator-max-microvolt = <1300000>;
			};

			ldo18m {
				regulator-name = "vdd18_pcie0";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
			};

			ldo19m {
				regulator-name = "vdd18_pcie1";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
			};

			ldo20m {
				/* DMIC, memory power */
				regulator-name = "vddq_aoc_pdm";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
				regulator-always-on;
				samsung,ext-control = <S2MPG10_EXTCTRL_LDO20M_EN2>;
			};

			ldo21m {
				/* Dauntless  */
				regulator-name = "vdd_dtls";
				regulator-min-microvolt = <2500000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			s2mpg10_ldo22m: ldo22m {
				/* display */
				regulator-name = "vci_disp";
				regulator-min-microvolt = <3025000>;
				regulator-max-microvolt = <3025000>;
			};

			/* ldo23m & ldo24m are unused */

			s2mpg10_ldo25m: ldo25m {
				/* touch */
				regulator-name = "dvdd_tsp";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
			};

			s2mpg10_ldo26m: ldo26m {
				/* touch */
				regulator-name = "avdd_ts";
				regulator-min-microvolt = <2500000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo27m {
				/* under-display fingerprint scanner */
				regulator-name = "avdd_udfps";
				regulator-min-microvolt = <2500000>;
				regulator-max-microvolt = <3300000>;
			};

			/*
			 *ldo28m .. ldo30m are unused, ldo31m is board specific
			 */
		};
	};

	pmic-2 {
		compatible = "samsung,s2mpg11-pmic";
		interrupts-extended = <&gpa0 7 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&sub_pmic_int>;
		wakeup-source;

		vinl1s-supply = <&s2mpg10_buck8m>;
		vinl2s-supply = <&s2mpg11_buck6s>;
		vinl3s-supply = <&s2mpg11_buck7s>;
		vinl4s-supply = <&s2mpg11_buck7s>;
		vinl5s-supply = <&s2mpg11_buckboost>;
		vinl6s-supply = <&s2mpg11_buckboost>;
		vinbd-supply = <&s2mpg11_buckboost>;

		regulators {
			buck1s {
				/* multimedia */
				regulator-name = "vdd_cam";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12500>;
				regulator-always-on;
				samsung,ext-control = <S2MPG11_EXTCTRL_PWREN_MIF>;
			};

			buck2s_reg: buck2s {
				regulator-name = "vdd_g3d";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12500>;
				regulator-always-on;
				samsung,ext-control = <S2MPG11_EXTCTRL_G3D_EN>;
			};

			s2mpg11_buck3s: buck3s {
				regulator-name = "lldo1";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <6250>;
			};

			buck4s {
				/* DDR */
				regulator-name = "vdd2h_mem";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <6250>;
				regulator-always-on;
			};

			buck5s {
				/* DDR */
				regulator-name = "vddq_mem";
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <6250>;
				regulator-always-on;
				samsung,ext-control = <S2MPG11_EXTCTRL_PWREN_MIF>;
			};

			s2mpg11_buck6s: buck6s {
				regulator-name = "lldo4";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1500000>;
				regulator-ramp-delay = <6250>;
			};

			s2mpg11_buck7s: buck7s {
				regulator-name = "mldo";
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <2200000>;
				regulator-ramp-delay = <6250>;
			};

			buck8s_reg: buck8s {
				regulator-name = "vdd_g3d_l2";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12500>;
				regulator-always-on;
				samsung,ext-control = <S2MPG11_EXTCTRL_G3D_EN>;
			};

			buck9s {
				regulator-name = "vdd_aoc";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12500>;
				regulator-always-on;
			};

			buck10s {
				/* DDR */
				regulator-name = "vdd2l_mem";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <6250>;
				regulator-always-on;
			};

			buckd {
				regulator-name = "vcc_ufs";
				regulator-min-microvolt = <2400000>;
				regulator-max-microvolt = <3300000>;
				regulator-ramp-delay = <6250>;
				regulator-always-on;
				samsung,ext-control = <S2MPG11_EXTCTRL_UFS_EN>;
			};

			s2mpg11_bucka: bucka {
				/* lots, IO */
				regulator-name = "bucka";
				regulator-min-microvolt = <1700000>;
				regulator-max-microvolt = <2100000>;
				regulator-ramp-delay = <6250>;
				regulator-always-on;
			};

			s2mpg11_buckboost: buckboost {
				regulator-name = "buckboost";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3600000>;
			};

			ldo1s_reg: ldo1s {
				regulator-name = "vdd_g3d_m";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <6250>;
				regulator-always-on;
				samsung,ext-control = <S2MPG11_EXTCTRL_G3D_EN>;
			};

			ldo2s {
				regulator-name = "vdd_aoc_ret";
				regulator-min-microvolt = <450000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-always-on;
			};

			/* ldo3s & ldo5s are unused, ldo4s is board specific */

			s2mpg11_ldo6s: ldo6s {
				/* sensors */
				regulator-name = "vdd_prox";
				regulator-min-microvolt = <2500000>;
				regulator-max-microvolt = <3300000>;
			};

			s2mpg11_ldo7s: ldo7s {
				/* sensors */
				regulator-name = "vdd_sensors";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
			};

			ldo8s {
				regulator-name = "vccq_ufs";
				regulator-min-microvolt = <1130400>;
				regulator-max-microvolt = <1281200>;
				regulator-always-on;
				samsung,ext-control = <S2MPG11_EXTCTRL_UFS_EN>;
			};

			ldo9s {
				regulator-name = "vdd_gnss";
				regulator-min-microvolt = <725000>;
				regulator-max-microvolt = <1300000>;
			};

			ldo10s {
				regulator-name = "vdd_gnss_rf";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
			};

			ldo11s {
				regulator-name = "vdd_gnss_aux";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
			};

			/* ldo12s is unused */

			ldo13s {
				regulator-name = "vddq_mmc";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3350000>;
				regulator-always-on;
				samsung,ext-control = <S2MPG11_EXTCTRL_LDO13S_EN>;
			};

			/* ldo14s is board specific, ldo15s is unused */
		};
	};
};

&ext_24_5m {
	clock-frequency = <24576000>;
};

&ext_200m {
	clock-frequency = <200000000>;
};

&hsi2c_8 {
	status = "okay";

	eeprom: eeprom@50 {
		compatible = "atmel,24c08";
		reg = <0x50>;
	};
};

&gpu {
     mali-supply = <&buck2s_reg>;
     buck8s-supply = <&buck8s_reg>;
     ldo1s-supply = <&ldo1s_reg>;
     buck7m-supply = <&buck7m_reg>;
};

&hsi2c_12 {
	status = "okay";
	/* TODO: add the devices once drivers exist */

	usb-typec@25 {
		compatible = "maxim,max77759-tcpci", "maxim,max33359";
		reg = <0x25>;
		interrupts-extended = <&gpa8 2 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&typec_int>;
		pinctrl-names = "default";

		connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			self-powered;
			try-power-role = "sink";
			op-sink-microwatt = <2600000>;
			slow-charger-loop;
			/*
			 * max77759 operating in reverse boost mode (0xA) can
			 * source up to 1.5A while extboost can only do ~1A.
			 * Since extboost is the primary path, advertise 900mA.
			 */
			source-pdos = <PDO_FIXED(5000, 900,
						 (PDO_FIXED_SUSPEND
						  | PDO_FIXED_USB_COMM
						  | PDO_FIXED_DATA_SWAP
						  | PDO_FIXED_DUAL_ROLE))>;
			sink-pdos = <PDO_FIXED(5000, 3000,
					       (PDO_FIXED_DATA_SWAP
						| PDO_FIXED_USB_COMM
						| PDO_FIXED_HIGHER_CAP
						| PDO_FIXED_DUAL_ROLE))
				     PDO_FIXED(9000, 2200, 0)
				     PDO_PPS_APDO(5000, 11000, 3000)>;
			sink-vdos = <VDO_IDH(1, 1, IDH_PTYPE_PERIPH, 0,
					     IDH_PTYPE_DFP_HOST, 2, 0x18d1)
				     VDO_CERT(0x0)
				     VDO_PRODUCT(0x4ee1, 0x0)
				     VDO_UFP(UFP_VDO_VER1_2,
					     (DEV_USB2_CAPABLE
					      | DEV_USB3_CAPABLE),
					     UFP_RECEPTACLE, 0,
					     AMA_VCONN_NOT_REQ, 0,
					     UFP_ALTMODE_NOT_SUPP,
					     UFP_USB32_GEN1)
				     /* padding */ 0
				     VDO_DFP(DFP_VDO_VER1_1,
					     (HOST_USB2_CAPABLE
					      | HOST_USB3_CAPABLE),
					     DFP_RECEPTACLE, 0)>;
			sink-vdos-v1 = <VDO_IDH(1, 1, IDH_PTYPE_PERIPH, 0,
						0, 0, 0x18d1)
					VDO_CERT(0x0)
					VDO_PRODUCT(0x4ee1, 0x0)>;
			/*
			 * Until bootloader is updated to set those two when
			 * console is enabled, we disable PD here.
			 */
			pd-disable;
			typec-power-opmode = "default";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					usbc0_orien_sw: endpoint {
						remote-endpoint = <&usbdrd31_phy_orien_switch>;
					};
				};

				port@1 {
					reg = <1>;

					usbc0_role_sw: endpoint {
						remote-endpoint = <&usbdrd31_dwc3_role_switch>;
					};
				};
			};
		};
	};

	fuel-gauge@36 {
		compatible = "maxim,max77759-fg";
		reg = <0x36>;

		pinctrl-0 = <&if_pmic_fg_int>;
		pinctrl-names = "default";
		interrupts-extended = <&gpa9 3 IRQ_TYPE_LEVEL_LOW>;

		shunt-resistor-micro-ohms = <5000>;
	};

	pmic@66 {
		compatible = "maxim,max77759";
		reg = <0x66>;

		pinctrl-0 = <&if_pmic_int>;
		pinctrl-names = "default";
		interrupts-extended = <&gpa8 3 IRQ_TYPE_LEVEL_LOW>;

		interrupt-controller;
		#interrupt-cells = <2>;

		gpio {
			compatible = "maxim,max77759-gpio";

			gpio-controller;
			#gpio-cells = <2>;
			/*
			 * "Human-readable name [SIGNAL_LABEL]" where the
			 * latter comes from the schematic
			 */
			gpio-line-names = "OTG boost [OTG_BOOST_EN]",
					  "max20339 IRQ [MW_OVP_INT_L]";

			interrupt-controller;
			#interrupt-cells = <2>;
		};

		nvmem-0 {
			compatible = "maxim,max77759-nvmem";

			nvmem-layout {
				compatible = "fixed-layout";
				#address-cells = <1>;
				#size-cells = <1>;

				nvmem_reboot_mode: reboot-mode@0 {
					reg = <0x0 0x4>;
				};

				boot-reason@4 {
					reg = <0x4 0x4>;
				};

				shutdown-user-flag@8 {
					reg = <0x8 0x1>;
				};

				rsoc@a {
					reg = <0xa 0x2>;
				};
			};
		};
	};
};

&pinctrl_far_alive {
	/*
	 * gpa8 belongs to this controller, not pinctrl_gpio_alive where this
	 * node used to sit. Declared there, the group was never registered
	 * ("174d0000.pinctrl: does not have pin group gpa8-6") and the AoC
	 * interrupt line was left unconfigured.
	 */
	aoc2ap_irq: aoc2ap-irq {
		samsung,pins = "gpa8-6";
		samsung,pin-function = <GS101_PIN_FUNC_EINT>;
		samsung,pin-pud = <GS101_PIN_PULL_DOWN>;
		samsung,pin-drv = <GS101_PIN_DRV_2_5_MA>;
	};

	key_voldown: key-voldown-pins {
		samsung,pins = "gpa7-3";
		samsung,pin-function = <GS101_PIN_FUNC_EINT>;
		samsung,pin-pud = <GS101_PIN_PULL_NONE>;
		samsung,pin-drv = <GS101_PIN_DRV_2_5_MA>;
	};

	key_volup: key-volup-pins {
		samsung,pins = "gpa8-1";
		samsung,pin-function = <GS101_PIN_FUNC_EINT>;
		samsung,pin-pud = <GS101_PIN_PULL_NONE>;
		samsung,pin-drv = <GS101_PIN_DRV_2_5_MA>;
	};

	typec_int: typec-int-pins {
		samsung,pins = "gpa8-2";
		samsung,pin-function = <GS101_PIN_FUNC_EINT>;
		samsung,pin-pud = <GS101_PIN_PULL_UP>;
		samsung,pin-drv = <GS101_PIN_DRV_2_5_MA>;
	};

	if_pmic_int: if-pmic-int-pins {
		samsung,pins = "gpa8-3";
		samsung,pin-function = <GS101_PIN_FUNC_EINT>;
		samsung,pin-pud = <GS101_PIN_PULL_UP>;
		samsung,pin-drv = <GS101_PIN_DRV_2_5_MA>;
	};
};

&pinctrl_gpio_alive {
	pmic_int: pmic-int-pins {
		samsung,pins = "gpa0-6";
		samsung,pin-function = <GS101_PIN_FUNC_EINT>;
		samsung,pin-pud = <GS101_PIN_PULL_NONE>;
	};

	sub_pmic_int: sub-pmic-int-pins {
		samsung,pins = "gpa0-7";
		samsung,pin-function = <GS101_PIN_FUNC_EINT>;
		samsung,pin-pud = <GS101_PIN_PULL_NONE>;
	};

	if_pmic_fg_int: if-pmic-fg-int-pins {
		samsung,pins = "gpa9-3";
		samsung,pin-function = <GS101_PIN_FUNC_EINT>;
		samsung,pin-pud = <GS101_PIN_PULL_UP>;
		samsung,pin-drv = <GS101_PIN_DRV_2_5_MA>;
	};

	key_power: key-power-pins {
		samsung,pins = "gpa10-1";
		samsung,pin-function = <GS101_PIN_FUNC_EINT>;
		samsung,pin-pud = <GS101_PIN_PULL_NONE>;
		samsung,pin-drv = <GS101_PIN_DRV_2_5_MA>;
	};
	ts_irq: ts-irq {
		samsung,pins = "gpa9-0";
		samsung,pin-function = <GS101_PIN_FUNC_EINT>;
		samsung,pin-pud = <GS101_PIN_PULL_NONE>;
		samsung,pin-drv = <GS101_PIN_DRV_2_5_MA>;
	};
};

&pinctrl_peric1 {
	ts_reset: ts-reset {
		samsung,pins = "gpp26-0";
		samsung,pin-pud = <GS101_PIN_PULL_NONE>;
		samsung,pin-con-pdn = <GS101_PIN_PDN_PREV>;
		samsung,pin-pud-pdn = <GS101_PIN_PULL_NONE>;
	};
	ap2aoc: ap2aoc {
		samsung,pins = "gpp26-1";
		samsung,pin-pud = <GS101_PIN_PULL_NONE>;
		samsung,pin-con-pdn = <GS101_PIN_PDN_PREV>;
		samsung,pin-pud-pdn = <GS101_PIN_PULL_NONE>;
	};
};

&serial_0 {
	status = "okay";
};

&ufs_0 {
	status = "okay";
	vcc-supply = <&ufs_0_fixed_vcc_reg>;
};

&ufs_0_phy {
	status = "okay";
};

&usbdrd31 {
	vdd10-supply = <&reg_placeholder>;
	vdd33-supply = <&reg_placeholder>;
	status = "okay";
};

&usbdrd31_dwc3 {
	dr_mode = "otg";
	usb-role-switch;
	role-switch-default-mode = "peripheral";
	maximum-speed = "super-speed-plus";
	status = "okay";

	port {
		usbdrd31_dwc3_role_switch: endpoint {
			remote-endpoint = <&usbc0_role_sw>;
		};
	};
};

&usbdrd31_phy {
	orientation-switch;
	/* TODO: Update these once PMIC is implemented */
	pll-supply = <&reg_placeholder>;
	dvdd-usb20-supply = <&reg_placeholder>;
	vddh-usb20-supply = <&reg_placeholder>;
	vdd33-usb20-supply = <&reg_placeholder>;
	vdda-usbdp-supply = <&reg_placeholder>;
	vddh-usbdp-supply = <&reg_placeholder>;
	status = "okay";

	port {
		usbdrd31_phy_orien_switch: endpoint {
			remote-endpoint = <&usbc0_orien_sw>;
		};
	};
};

&usi_uart {
	samsung,clkreq-on; /* needed for UART mode */
	status = "okay";
};

&usi8 {
	samsung,mode = <USI_MODE_I2C>;
	status = "okay";
};

&usi7 {
	samsung,mode = <USI_MODE_I2C>;
	status = "okay";
};

&usi11 {
	samsung,mode = <USI_MODE_SPI>;
	status = "okay";
};

&usi12 {
	samsung,mode = <USI_MODE_I2C>;
	status = "okay";
};

/*
 * NFC. The silicon is an ST54J (an ST21NFC controller with an embedded secure
 * element); it binds "st,st21nfc" all the same. The vendor drives it with its
 * own driver and extra properties -- a PMU reference clock, a clock-request
 * line, a power-idle line (gs101-whitefin-nfc.dtsi). Those turned out not to
 * be needed: with just the reset GPIO the chip talks NCI and reports its full
 * protocol set (Felica, MIFARE, Jewel, ISO-DEP, NFC-DEP, ISO-15693).
 *
 * What does not work is nfc_dev_up, which fails at secure-element discovery:
 * st_nci_hci_network_init floods proprietary notifications (opcode 0xe3e) and
 * times out. That path is only for the SE, whose protocol is Google's own, so
 * st_nci_discover_se() is patched to skip it when no SE is declared here --
 * which is why this node declares none. Reader and host-card-emulation are
 * pure NCI and do not need the SE.
 */
&hsi2c_7 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <370000>;
	status = "okay";

	nfc@8 {
		compatible = "st,st21nfc";
		reg = <0x08>;

		interrupt-parent = <&gpa8>;
		interrupts = <0 IRQ_TYPE_LEVEL_HIGH>;
		reset-gpios = <&gpp24 2 GPIO_ACTIVE_HIGH>;
	};
};

&watchdog_cl0 {
	timeout-sec = <30>;
	status = "okay";
};

&spi_11 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <>;
	cs-gpios = <&gpp23 3 GPIO_ACTIVE_LOW>;
	num-cs = <1>;
	spitouch: touchscreen@0 {
		compatible = "st,spi";
		status = "okay";
		spi-max-frequency = <10000000>;
		reg = <0>;
		pinctrl-names = "pmx_ts_active", "pmx_ts_suspend";
		pinctrl-0 = <&ts_irq &ts_reset &ap2aoc &aoc2ap_irq
			     &spi11_bus &spi11_cs>;
		pinctrl-1 = <&ts_irq &ts_reset &ap2aoc &aoc2ap_irq
			     &spi11_bus &spi11_cs>;
		fts,irq-gpio = <&gpa9 0 GPIO_ACTIVE_LOW>;
		fts,irq-flags = <0x2008>; /* IRQF_TRIGGER_LOW | IRQF_ONESHOT */
		fts,reset-gpio-enable;
		fts,reset-gpio = <&gpp26 0 GPIO_ACTIVE_LOW>;
		fts,bus-reg-name = "vdd";
		fts,pwr-reg-name = "avdd";
		vdd-supply = <&s2mpg10_ldo25m>;
		avdd-supply = <&s2mpg10_ldo26m>;
		controller-data {
			samsung,spi-feedback-delay = <1>;
			samsung,spi-chip-select-mode = <0>;
			cs-clock-delay = <2>;
		};
	};
};

/*
 * CS35L41 speaker amplifiers on SPI13 (USI13). Pin assignments taken from
 * the vendor kernel (gs101-raviole-audio.dtsi). This only gets the amps to
 * probe on the SPI bus; there is no DAI link or sound card yet, so it does
 * not produce audio on its own.
 */
&pinctrl_gpio_alive {
	cs35l41_r_irq: cs35l41-r-irq-pins {
		samsung,pins = "gpa9-6"; /* XEINT_26 */
		samsung,pin-function = <GS101_PIN_FUNC_EINT>;
		samsung,pin-pud = <GS101_PIN_PULL_NONE>;
	};
};

&pinctrl_far_alive {
	cs35l41_l_irq: cs35l41-l-irq-pins {
		samsung,pins = "gpa6-3"; /* XEINT_3 */
		samsung,pin-function = <GS101_PIN_FUNC_EINT>;
		samsung,pin-pud = <GS101_PIN_PULL_NONE>;
	};
};

&pinctrl_peric0 {
	cs35l41_l_rst: cs35l41-l-rst-pins {
		samsung,pins = "gpp16-3"; /* XAPC_USI8_CTSN_CSN */
		samsung,pin-function = <GS101_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <GS101_PIN_PULL_NONE>;
	};

	cs35l41_cs2: cs35l41-cs2-pins {
		samsung,pins = "gpp1-0"; /* XAPC_GPIO2 */
		samsung,pin-function = <GS101_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <GS101_PIN_PULL_NONE>;
	};
};

&pinctrl_peric1 {
	cs35l41_r_rst: cs35l41-r-rst-pins {
		samsung,pins = "gpp23-7"; /* XAPC_USI12_CTSN_CSN */
		samsung,pin-function = <GS101_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <GS101_PIN_PULL_NONE>;
	};
};

&spi_13 {
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-names = "default";
	pinctrl-0 = <&spi13_bus>, <&spi13_cs>, <&cs35l41_cs2>;

	/* Both chip selects are driven as GPIOs, so gpp25-3 uses spi13_cs
	 * (output function) rather than spi13_cs_func (SPI function).
	 */
	cs-gpios = <&gpp25 3 GPIO_ACTIVE_LOW>, <&gpp1 0 GPIO_ACTIVE_LOW>;
	num-cs = <2>;

	cs35l41_l: speaker-amp@0 {
		compatible = "cirrus,cs35l41";
		reg = <0>;
		#sound-dai-cells = <1>;
		cirrus,subsystem-id = "oriole";
		spi-max-frequency = <25000000>;

		pinctrl-names = "default";
		pinctrl-0 = <&cs35l41_l_irq>, <&cs35l41_l_rst>;

		interrupt-parent = <&gpa6>;
		/*
		 * IRQ_TYPE_NONE, not LEVEL_LOW. The cs35l41 driver sets the
		 * trigger polarity itself from the GPIO2 config (irq_pol =
		 * IRQF_TRIGGER_LOW in cs35l41_gpio_config). Pinning a concrete
		 * type here makes the fwspec mapping fail with "type mismatch,
		 * failed to map hwirq-3" when the module is (re)loaded after boot
		 * -- the type is not cleaned up on free_irq, so the second map
		 * conflicts and spi->irq becomes 0 (request_irq(0) -> -EINVAL).
		 * The vendor uses type 0 here for the same reason.
		 */
		interrupts = <3 IRQ_TYPE_NONE>;
		reset-gpios = <&gpp16 3 GPIO_ACTIVE_HIGH>;

		VA-supply = <&s2mpg11_bucka>;
		VP-supply = <&V_SYS_dummy>;

		cirrus,boost-peak-milliamp = <3500>;
		cirrus,boost-ind-nanohenry = <1000>;
		cirrus,boost-cap-microfarad = <30>;
		cirrus,asp-sdout-hiz = <3>;

		/*
		 * Drive the interrupt out of GPIO2, which is what the
		 * interrupts property above listens to. The vendor sets
		 * this through a cirrus,gpio-config2 child node; mainline
		 * spells the same thing as flat properties, so the vendor
		 * form would have been ignored silently.
		 */
		cirrus,gpio2-src-select = <0x5>;
		cirrus,gpio2-output-enable;

		controller-data {
			/*
			 * Compensate the MISO round trip. spi-s3c64xx writes
			 * FB_CLK on every message and leaves it at 0 when this
			 * node is absent, which is too tight for reads at the
			 * 25 MHz the vendor runs these amps at.
			 */
			samsung,spi-feedback-delay = <1>;
		};
	};

	cs35l41_r: speaker-amp@1 {
		compatible = "cirrus,cs35l41";
		reg = <1>;
		#sound-dai-cells = <1>;
		cirrus,subsystem-id = "oriole";
		spi-max-frequency = <25000000>;
		/* "R" prefix now comes from the aoc codec_cfg node, not here. */

		pinctrl-names = "default";
		pinctrl-0 = <&cs35l41_r_irq>, <&cs35l41_r_rst>;

		interrupt-parent = <&gpa9>;
		/* IRQ_TYPE_NONE: driver sets polarity; see cs35l41_l above. */
		interrupts = <6 IRQ_TYPE_NONE>;
		reset-gpios = <&gpp23 7 GPIO_ACTIVE_HIGH>;

		VA-supply = <&s2mpg11_bucka>;
		VP-supply = <&V_SYS_dummy>;

		cirrus,boost-peak-milliamp = <3500>;
		cirrus,boost-ind-nanohenry = <1000>;
		cirrus,boost-cap-microfarad = <30>;
		cirrus,asp-sdout-hiz = <3>;

		/*
		 * Drive the interrupt out of GPIO2, which is what the
		 * interrupts property above listens to. The vendor sets
		 * this through a cirrus,gpio-config2 child node; mainline
		 * spells the same thing as flat properties, so the vendor
		 * form would have been ignored silently.
		 */
		cirrus,gpio2-src-select = <0x5>;
		cirrus,gpio2-output-enable;

		controller-data {
			samsung,spi-feedback-delay = <1>;
		};
	};
};

&dai_be_tdm0_rx {
	codec {
		sound-dai = <&cs35l41_l 0>, <&cs35l41_r 0>;
	};
};

&dai_be_tdm0_tx {
	codec {
		sound-dai = <&cs35l41_l 0>, <&cs35l41_r 0>;
	};
};

&aoc_snd_card {
	clks {
		sys {
			sys@cs35l41_l {
				comp = <&cs35l41_l>;
				src = "BCLK";
				id = <0>;
				srcid = <0>;
				in_mul = <1>;
				out_mul = <1>;
			};

			sys@cs35l41_r {
				comp = <&cs35l41_r>;
				src = "BCLK";
				id = <0>;
				srcid = <0>;
				in_mul = <1>;
				out_mul = <1>;
			};
		};
	};

	/*
	 * Give the right cs35l41 the "R" name-prefix via the aoc card's
	 * codec_conf path (aoc_of_parse_codec_conf reads of_node + prefix).
	 * Resolves "can't find codec cfg node". The left amp stays default,
	 * matching the tune files (cs35l41-dsp1-spk-*-oriole for left,
	 * R-cs35l41-dsp1-spk-* for right). sound-name-prefix on cs35l41_r is
	 * removed so the prefix is not applied twice ("RR").
	 */
	codec_cfg {
		cs35l41_r_cfg {
			of_node = <&cs35l41_r>;
			prefix = "R";
		};
	};
};

/*
 * AoC drives the sensor rails. Without the list it logs "unsupported sensor
 * power list" and leaves them alone; the vendor names the same two LDOs in
 * gs101-common.dtsi.
 */
&aoc {
	sensor_1v8-supply = <&s2mpg11_ldo7s>;
	sensor_3v3-supply = <&s2mpg11_ldo6s>;
	sensor_power_list = "sensor_1v8", "sensor_3v3";
};

/*
 * GNSS: Broadcom BCM4775 on SPI5.
 *
 * A discrete receiver, not the integrated Kepler GNSS that arrives with zuma
 * -- which is why fw_data[GnssType] stays 0 on this SoC. Ported from the
 * vendor's gs101-common-gps.dtsi plus gs101-slider2-gps.dtsi, which is the
 * pin set gs101-raviole.dtsi pulls in for oriole and raven.
 *
 * The vendor also sets dma-mode, a pdma0 channel pair and swap-mode on the
 * controller. Those are properties of its own SPI driver; mainline's
 * spi-s3c64xx has no equivalent, so the transfers run PIO here.
 */
&usi5 {
	samsung,mode = <USI_MODE_SPI>;
	status = "okay";
};

&spi_5 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi5_bus>, <&spi5_cs_func>;
	status = "okay";

	gnss: bcm4775@0 {
		compatible = "ssp-spi,bcm4775";
		reg = <0>;
		spi-max-frequency = <26000000>;
		spi-cpol;
		spi-cpha;

		pinctrl-names = "default";
		pinctrl-0 = <&gps_host_req>, <&gps_mcu_req>,
			    <&gps_mcu_resp>, <&gps_nstandby>;

		host-req-gpios = <&gpa6 4 GPIO_ACTIVE_HIGH>;
		mcu-req-gpios = <&gpp1 1 GPIO_ACTIVE_HIGH>;
		mcu-resp-gpios = <&gpp0 0 GPIO_ACTIVE_HIGH>;
		nstandby-gpios = <&gpp0 2 GPIO_ACTIVE_LOW>;

		controller-data {
			samsung,spi-feedback-delay = <1>;
		};
	};
};

/ {
	/* 1PPS output from the receiver. */
	bbd_pps {
		compatible = "bbd-pps-gpio";
		gpios = <&gpp17 1 GPIO_ACTIVE_HIGH>;
		/*
		 * assert-falling-edge is read with
		 * device_property_read_bool(), so a present property is true
		 * whatever its value. The vendor writes "= <0>" meaning "no",
		 * which reads as yes; leaving it out is how you say no.
		 */
		status = "okay";
	};
};

&pinctrl_far_alive {
	gps_host_req: gps-host-req-pins {
		samsung,pins = "gpa6-4";
		samsung,pin-function = <GS101_PIN_FUNC_EINT>;
		samsung,pin-pud = <GS101_PIN_PULL_NONE>;
	};
};

&pinctrl_peric0 {
	gps_mcu_req: gps-mcu-req-pins {
		samsung,pins = "gpp1-1";
		samsung,pin-function = <GS101_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <GS101_PIN_PULL_NONE>;
	};

	gps_mcu_resp: gps-mcu-resp-pins {
		samsung,pins = "gpp0-0";
		samsung,pin-function = <GS101_PIN_FUNC_INPUT>;
		samsung,pin-pud = <GS101_PIN_PULL_DOWN>;
	};

	gps_nstandby: gps-nstandby-pins {
		samsung,pins = "gpp0-2";
		samsung,pin-function = <GS101_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <GS101_PIN_PULL_NONE>;
	};
};

/*
 * BCM4389 WLAN on PCIe HSI2 (channel 1): powered by the always-on
 * wlan_pwrseq regulator (vpcie-supply on pcie1 in gs101.dtsi). No bcmdhd
 * DT node on purpose -- with one, bcmdhd owns wl_reg_on and runs its
 * power-cycle recovery (secondary bus reset), which on this mainline setup
 * knocks the endpoint off the bus (VID 0xffffffff) and never recovers.
 * Without a node bcmdhd assumes an always-on regulator and brings the
 * already-enumerated endpoint up cleanly -- the state that works on cold
 * boot. (This is why adding a node for kexec survival regressed cold boot.)
 */
